<mat-nav-list fxLayout="column" 
fxLayoutAlign="flex-start"
fxLayoutGap="30px"
class="nav-list" >
<a mat-list-item routerLink="/" (click)="onClose()">
  <mat-icon>home</mat-icon> 
  Inicio</a>
<a mat-list-item routerLink="/device-monitor" (click)="onClose()">
  <mat-icon>dvr</mat-icon> 
  Monitor</a>
<a mat-list-item routerLink="/device-create" (click)="onClose()">
  <mat-icon>add_to_queue</mat-icon>
   Crear dispositivo</a>
<!-- <a mat-list-item routerLink="/device-monitor" (click)="onClose()">
  <mat-icon>power_settings_new</mat-icon>
  Cerrar sesión</a> -->
</mat-nav-list>
