<div class="container" fxLayout="column" fxLayoutAlign="start center">
  <mat-spinner *ngIf="!isLoaded"></mat-spinner>
  <form (ngSubmit)="onEditDevice(f)" #f="ngForm"
    *ngIf="isLoaded"
    fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx">
    <div class="deviceList"
      fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
      <h1>Editar dispositivo</h1>
      <button mat-raised-button routerLink="/">CANCELAR</button>
    </div>
    <mat-card fxLayout="column" fxLayoutGap="30px">
      <mat-form-field>
        <input matInput placeholder="Nombre del dispositivo" required
          name="name" #name="ngModel" ngModel
          [(ngModel)]="currentDevice.name">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Ubicación" required
          name="location" #location="ngModel" ngModel
          [(ngModel)]="currentDevice.location">
      </mat-form-field>
      
      <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <mat-slide-toggle name="isMonitorized"
          [(ngModel)]="currentDevice.isMonitorized">
          ¿Está siendo monitoreado?</mat-slide-toggle>
    
        <mat-slide-toggle name="status" [(ngModel)]="currentDevice.status">
          <span *ngIf="currentDevice.status">Encendido</span>
          <span *ngIf="!currentDevice.status">Apagado</span>
        </mat-slide-toggle>
      </div>
      
      <mat-select placeholder="Unidad de temperatura" name="unit"
          #unit="ngModel" [(ngModel)]="currentDevice.temperatureUnits">
          <mat-option [value]="0">
            Celsius
          </mat-option>
          <!-- <mat-option [value]="1">
            Fahrenheit
          </mat-option>
          <mat-option [value]="2">
            Kelvin
          </mat-option> -->
        </mat-select>
  
        <mat-form-field>
          <input matInput placeholder="Límite de temperatura" 
            name="temperatureLimit" #temperatureLimit="ngModel" ngModel
            [(ngModel)]="currentDevice.temperatureLimit"
            type="number" min="0">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Límite de humedad" type="number" min="0"
            name="humidityLimit" #humidityLimit="ngModel" ngModel
            [(ngModel)]="currentDevice.humidityLimit">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Código del dispositivo" disabled
            name="deviceCode" #deviceCode="ngModel" ngModel
            [(ngModel)]="currentDevice.id">
          </mat-form-field>    

          <mat-form-field>
            <input matInput placeholder="Creado por" disabled
              name="creator" #creator="ngModel" ngModel
              [(ngModel)]="currentDevice.creator">
          </mat-form-field>
            
          <mat-form-field>
            <input matInput placeholder="Creado en" disabled
            name="dateCreated" #dateCreated="ngModel" ngModel
            [ngModel]="currentDevice.dateCreated | date">
          </mat-form-field>
        
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <button mat-raised-button color="warn" type="button" (click)="onDeleteDevice()">Eliminar</button>
        <button mat-raised-button color="primary">Editar</button>
      </div>
    </mat-card>
  </form>
</div>