<!-- <div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="columna" fxLayout="column" fxLayoutAlign="start center"
  fxLayoutGap="50px">
    <mat-progress-bar
      mode="determinate"
      matTooltip="Temperatura 1: {{value1}}"
      [value]="value1">
    </mat-progress-bar>
    
    <mat-progress-bar
      mode="determinate"
      matTooltip="Temperatura 2: {{value2}}"
      [value]="value2">
    </mat-progress-bar>
  
    <mat-progress-bar
      mode="determinate"
      matTooltip="Humedad 1: {{value3}}"
      [value]="value3">
    </mat-progress-bar>
  
    <mat-progress-bar
      mode="determinate"
      matTooltip="Humedad 2: {{value4}}"
      [value]="value4">
    </mat-progress-bar>
  </div>
</div> -->
<app-container></app-container>